#voices {
    margin-left: auto;
  margin-right: auto;
  width: 30%;
  }
  
  .select-voice-label {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  .select-voice-dropdown {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }